<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>회원 가입</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
	<hr/>
	<h1 class="registerName">회원 가입</h1>
	<div class="register">
		<form method="post">
			<div>
				이름 <input type="text" name="userName" placeholder="이름" required/>
			</div>
			<div>
				아이디(이메일) <input type="email" name="userId" placeholder="아이디(이메일)" required/>
			</div>
			<div>
				휴대전화 <input type="tel" name="phone" placeholder="휴대전화" required/>
			</div>
			<div>
				비밀번호 <input type="password" name="password" placeholder="비밀번호" required/>
			</div>
			<div>
				비밀번호 확인 <input type="password" name="rePassword" placeholder=" 비밀번호 확인" required/>
			</div>
			<div>
				<button type="submit">회원 가입</button>
			</div>
		</form>
	</div>
</body>
</html>