<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.admin.mapper.CategoryMapper">
	
	<select id="select" resultType="com.example.lms.admin.dto.CategoryDto">
  
    SELECT C.*
		, (SELECT COUNT(*) FROM COURSE WHERE CATEGORY_ID = C.ID) AS course_count
	FROM CATEGORY C
	WHERE using_yn = 1
	ORDER BY sort_value DESC
	
	</select>
</mapper>