<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.admin.mapper.MemberHistoryMapper">
	
	<select id="selectListMyHistory" resultType="com.example.lms.admin.dto.MemberHistoryDto">
		SELECT mh.*
		FROM MEMBER_HISTORY mh
		where mh.user_id = #{userId}
		ORDER BY mh.login_at DESC
	
	</select>
	
	<select id="selectListCount" resultType="long">
  			
	SELECT count(*)
	FROM MEMBER_HISTORY
	where user_id = #{userId}
	</select>
</mapper>